# 1. 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('vote.csv', encoding='utf-8')

In [3]:
data.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,1,4,3,3,3,2,2,4.0,1,2
1,1,5,2,3,3,2,4,3.0,0,3
2,1,3,1,2,4,1,3,2.8,1,4
3,2,1,2,1,3,5,4,2.6,1,1
4,1,1,1,2,4,4,3,2.4,1,1

In [6]:
data.tail()

,gender,region,edu,income,age,score_gov,score_progress,score_intention,vote,parties
206,1,4,1,4,4,3,3,1.8,1,2
207,1,1,2,1,2,3,4,2.6,1,4
208,1,2,2,1,2,3,3,2.6,1,2
209,1,1,2,3,4,3,2,4.0,1,4
210,2,1,2,2,2,3,3,3.8,1,2

In [7]:
data.shape

(211, 10)

# 2. 특성(X)과 레이블(y) 나누기

In [8]:
# 방법1: 특성이름으로 불러오기
X=data[['gender', 'region', 'edu', 'income', 'age', 'score_gov', 'score_progress', 'score_intention']]

In [9]:
X.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention
0,1,4,3,3,3,2,2,4.0
1,1,5,2,3,3,2,4,3.0
2,1,3,1,2,4,1,3,2.8
3,2,1,2,1,3,5,4,2.6
4,1,1,1,2,4,4,3,2.4

In [10]:
# 방법2: 특성 위치값으로 불러오기
X=data[data.columns[0:8]]

In [13]:
X.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention
0,1,4,3,3,3,2,2,4.0
1,1,5,2,3,3,2,4,3.0
2,1,3,1,2,4,1,3,2.8
3,2,1,2,1,3,5,4,2.6
4,1,1,1,2,4,4,3,2.4

In [14]:
# 방법3: loc 함수로 불러오기 (단, 불러올 특성이 연달아 있어야 함)
X=data.loc[:, 'gender':'score_intention']

In [16]:
X.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention
0,1,4,3,3,3,2,2,4.0
1,1,5,2,3,3,2,4,3.0
2,1,3,1,2,4,1,3,2.8
3,2,1,2,1,3,5,4,2.6
4,1,1,1,2,4,4,3,2.4

In [17]:
y1=data[["vote"]]

In [18]:
y1.head()

   vote
0     1
1     0
2     1
3     1
4     1

In [19]:
y2=data[["parties"]]

In [20]:
y2.head()

   parties
0        2
1        3
2        4
3        1
4        1

# 3. train-test 데이터셋 나누기

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
# 일반화 : X(train)=알고리즘...90% 예측력 -> Y에 적용...89%??

In [24]:
X_train, X_test, y_train, y_test=train_test_split(X, y1, stratify=y1, random_state=42)
#random_state는 무관함

In [25]:
X_train.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention
68,2,4,2,4,2,3,3,2.4
8,1,2,1,2,4,2,2,2.0
10,1,1,1,2,3,2,4,2.2
67,1,4,3,4,3,1,2,2.0
90,1,1,3,4,3,5,2,1.0

In [28]:
X_train.shape

(158, 8)

In [29]:
X_test.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention
81,1,3,2,2,2,3,3,2.2
30,1,1,1,3,3,2,2,2.4
92,2,1,2,3,2,3,4,1.8
62,1,1,1,2,4,1,1,2.6
11,2,4,1,1,3,3,2,2.6

In [30]:
X_test.shape

(53, 8)

In [31]:
aa=pd.DataFrame(y_train)

In [32]:
aa['vote'].value_counts(sort=False)

0     46
1    112
Name: vote, dtype: int64

In [33]:
y_train.mean()

vote    0.708861
dtype: float64

In [35]:
bb=pd.DataFrame(y_test)

In [36]:
bb['vote'].value_counts(sort=False)

0    15
1    38
Name: vote, dtype: int64

In [37]:
y_test.mean()

vote    0.716981
dtype: float64

In [38]:
X_train.shape

(158, 8)

In [39]:
X_train.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention
68,2,4,2,4,2,3,3,2.4
8,1,2,1,2,4,2,2,2.0
10,1,1,1,2,3,2,4,2.2
67,1,4,3,4,3,1,2,2.0
90,1,1,3,4,3,5,2,1.0

In [40]:
X_test.shape

(53, 8)

In [41]:
X_test.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention
81,1,3,2,2,2,3,3,2.2
30,1,1,1,3,3,2,2,2.4
92,2,1,2,3,2,3,4,1.8
62,1,1,1,2,4,1,1,2.6
11,2,4,1,1,3,3,2,2.6

# 4. 모델 적용

In [42]:
from sklearn.neighbors import KNeighborsClassifier

In [43]:
knn=KNeighborsClassifier(n_neighbors=3)

In [44]:
knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [45]:
knn.fit(X_train, y_train)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

# 5. 모델평가

In [53]:
pred_train=knn.predict(X_train)

In [54]:
knn.score(X_train, y_train)

0.8481012658227848

In [48]:
pd.crosstab(y_train.vote, pred_train)

col_0   0    1
vote
0      31   15
1       9  103

In [49]:
pred_test=knn.predict(X_test)

In [50]:
knn.score(X_test, y_test)

0.5849056603773585

In [51]:
pd.crosstab(y_test.vote, pred_test)

col_0   0   1
vote
0       4  11
1      11  27