## 숫자형

In [1]:
a = 123

In [2]:
a

123

In [3]:
a = -178

In [4]:
a

-178

In [5]:
a = 0

In [6]:
a

0

In [7]:
a = 1.2

In [8]:
a

1.2

In [9]:
a = 4.24E10

In [10]:
a

42400000000.0

In [11]:
a = 4.24e-10

In [12]:
a

4.24e-10

In [13]:
a = 0o177

In [14]:
a

127

In [15]:
a = 0x8ff
b = 0xABC

In [16]:
a+b

5051

In [17]:
a = 3
b = 4

In [18]:
a * b

12

In [19]:
a / b

0.75

In [20]:
a % b

3

In [21]:
a**b

81

In [22]:
a // b

0

In [23]:
#열균 계산
kor = 80
eng = 75
math = 55
avr = (kor + eng + math) / 3

In [24]:
avr

70.0

In [25]:
# 홀수, 짝수 구별
a = 34
34 % 2
# 나머지가 0이면 짝수, 1이면 홀수

0

## 문자형

In [26]:
# "Life is too short, You need Python"
# "a"
# "123"

In [27]:
food = "Python's favorite food is perl"

In [28]:
food

"Python's favorite food is perl"

In [29]:
say = '"Python is very easy." he says.'

In [30]:
say

'"Python is very easy." he says.'

In [31]:
multiline = "Life is too short\nYou need python"

In [32]:
multiline

'Life is too short\nYou need python'

In [33]:
multiline='''
  Life is too short
  You need python
  '''

In [34]:
print(multiline)

  Life is too short
  You need python

In [35]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [36]:
a = "python"
a * 2

'pythonpython'

In [37]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [38]:
a = "Life is too short"
len(a)

17

In [39]:
#예제를 따라가며 연습해본다

## 리스트

In [40]:
## 리스트

In [41]:
a=[1,2,3,4,5]
a.append(6)
a[0]=0
del a[1]
print(a)

[0, 3, 4, 5, 6]

In [42]:
a=[1,2]
b=[3,4,5]
c=a+b
print(c)

d=a*3
print(d)

[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2]

## 튜플

In [43]:
t=(1,2,3,4,5)

t1=(1,2,3)
print(t[1])
print(t[0:3])

2
(1, 2, 3)

In [44]:
a=(1,2)
b=(3,4,5)
c=a+b
print(d)

d=a*3
print(d)

[1, 2, 1, 2, 1, 2]
(1, 2, 1, 2, 1, 2)

In [45]:
name=("David", "Kim")
print(name)

firstname, lastname=("David", "Kim")
print(lastname, ", ", firstname)

('David', 'Kim')
Kim ,  David

## 집합

In [46]:
set={1,1,2,3}
print(set)

{1, 2, 3}

In [47]:
set={1,1,2,3}
set.add(4)
set

{1, 2, 3, 4}

In [48]:
set={1,1,2,3}
set.update({4,5,6})
set

{1, 2, 3, 4, 5, 6}

In [49]:
set.remove(1)
set

{2, 3, 4, 5, 6}

In [50]:
set.clear()
set

set()

In [51]:
a={1,2,3}
b={1,3,4}

c=a&b
print(c)

d=a|b
print(d)

e=a-b
print(e)

{1, 3}
{1, 2, 3, 4}
{2}

## 사전

In [52]:
test={"Kim":90, "Jeong":80, "Park":75}
test["Kim"]

90

In [53]:
test={"Kim":90, "Jeong":80, "Park":75}
test["Jeong"]=85
test["Cho"]=95
del test["Park"]
print(test)

{'Kim': 90, 'Jeong': 85, 'Cho': 95}

In [54]:
test={"Kim":90, "Jeong":80, "Park":75}
print(test.keys())
print(test.values())

dict_keys(['Kim', 'Jeong', 'Park'])
dict_values([90, 80, 75])

## if문

In [55]:
money=4000

if money==3000:
    print("KTX 타고 가자")
elif money>=5000:
    print("버스 타고 가자")
else:
    print("걍 걸어가!")

걍 걸어가!

In [56]:
a = "Life is too short, you need python"
if 'wife' in a:
    print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' not in a:
    print('shirt')
elif 'need' in a:
    print('need')
else:
    print('none')

shirt

## for문

In [57]:
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [58]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [59]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [60]:
list=["Wise", "In", "Company"]
for s in list:
    print(s)

Wise
In
Company

## while문

In [61]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [62]:
food=["apple", "banana", "bread"]
i=0
while i < len(food):
    print(food[i])
    i=i+1

apple
banana
bread

In [63]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 350
거스름돈 50를 주고 커피를 줍니다.
돈을 넣어 주세요: 130
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 9개 입니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 4000
거스름돈 3700를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 5개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 2000
거스름돈 1700를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.